html, body {
    height: 100%;
}

/* Custom styles */
.top-header {
    background-color: #f5f5f5;
}

.main-header {
    background-color: #01132D;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-nav {
    background-color: #2a41e8;
}

.product-card {
    transition: all 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.deal-of-the-day {
    background-color: #fff8e6;
}

.footer {
    background-color: #01132D;
    color: #ffffff;
    width: 100%;
}

a:hover {
    text-decoration: underline;
    color: #EF4A23 !important; /* Bootstrap primary */
}

a {
    color: #EF4A23;   /* teal */
}
